@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;700&display=swap');


* {
    font-family: 'inter', sans-serif;
}

header {    
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 20px;
    background-color: transparent;
    backdrop-filter: blur(2px);
}

header img {
    vertical-align: middle;
    background: none;
}

.menu-mobile {
    z-index: 100001;
    cursor: pointer;
    display: none;
}

.menu-mobile div {
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    margin-left: 20px;

}

.navbar {
    display: flex;
}

#cad{
    display: none;
}

.navbar a {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    padding: 7px 10px;
    margin: 0 5px;
    transition: all .45s ease;
    border-radius: 5px;
}

.navbar a:hover {
    color: black;
    background: #FFDD00;
}

.header-btn {
    display: flex;
   
}

.header-btn a {
    padding: 7px 10px;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
}

.header-btn .in {
    background: #FFDD00;
    color: black;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all .50s ease;
}

.header-btn .in:hover {
    border: 2px solid;
    background-color: transparent;
    color: white;
}

@media (max-width: 1430px) {
    header {
        padding: 18px 3%;
        transition: .2s;
    }
}

@media (max-width: 767px) {
    header {
        padding: 12px 3%;
        transition: .2s;
    }


    .menu-mobile {
        display: block;
    }

    .cadastro {
        display: none;
    }

    #cad{
        display: block;
    }

    .navbar {
        position: absolute;
        width: 100%;
        top: -800px;
        left: 0;
        display: flex;
        flex-direction: column;
        background-color: #000000;
        transition: all .5s ease;
        text-align: left;
    }

   
    .navbar a {
        display: block;
        padding: 1rem;
        margin: 0 0.8rem;
    }
    .navbar a:hover {
        color: black;
        background: #FFDD00;
    }

    .navbar.open {
        top:100%;

    }

    
}