@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;700&display=swap');

:root{--cor-primaria:#040303;
    --cor-secundaria:#ffff;
    --cor-terciaria:#ffff;
    --cor-hover:#ffff;
    --font-krona-one:'Krona One',sans-serif;
    --font-montsserat:Montserrat,sans-serif
}

*{margin:0;
    padding:0
}

body{
    box-sizing:border-box;
    background-color:var(--cor-primaria);
    color:var(--cor-secundaria);
    background-image:url(/src/img/bg_star.png);
    width: 100%;
    height: 100vh;    
    color: #FFDD00;
}

.cabecalho{
    padding:2% 0 0 15%
}

.cabecalho:hover{
    background-color:var(--cor-hover)
}

/* .cabecalho_menu{
    display:flex;
    gap:80px
} */

.cabecalho_menu_link{
    color:var(--cor-terciaria);
    font-family:var(--font-montsserat);
    font-size:24px;
    font-weight:600;
    text-decoration:none
}

.titulo-destaque{
    color:var(--cor-terciaria)
}

.apresentacao{
    padding:8% 15%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:40px
}

.apresentacao__conteudo{
    width:615px;
    gap:32px
}

.apresentacao__conteudo__titulo{
    font-size:36px;
    font-family:var(--font-krona-one)
}

.apresentacao__conteudo__texto{
    font-size:24px;
    font-family:var(--font-montsserat)
}

.apresentacao__links{
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    align-items:center;
    gap:32px
}

.apresentacap_subtitulo{
    font-family:var(--font-krona-one);
    font-weight:400;
    size:24px
}

.apresentacao__links__link{
    border:2px solid var(--cor-terciaria);
    width:300px;
    text-align:center;
    border-radius:8px;
    font-size:24px;
    font-weight:600;
    padding:21.5px 0;
    text-decoration:none;
    color:var(--cor-secundaria);
    font-family:var(--font-montsserat);
    display:flex;
    justify-content:center;
    gap:16px
}

.apresentacao__links__link:hover{
    background-color:var(--cor-hover)
}

.rodape{
    background-color:var(--cor-terciaria);
    color:var(--cor-primaria);
    padding:24px;
    text-align:center;
    font-family:var(--font-montsserat);
    font-weight:400
}

footer{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    
}

footer #logop{
    display: flex;
    justify-content: flex-start;
    width: 8%;
    margin-left: 189px;
    margin-bottom: 30px;
}
.footer01 #logop{

}

.containerFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 300px;
    gap:200px;
}

.footer01{
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.footer01 p{
    width: 300px;
    font-size: 14px;
}

.footer01 .social {
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.footer02 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer02 .textnav {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 8px;
}

.footer03 {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#location, #email {
    display: flex;
    align-items: center;
    gap:4px;
    font-size: 14px;
}

.formulario textarea {
    color: black;
    resize: none;
    border: none;
    padding: 4px 0;
  
    
}

.formulario button {
    background-color: #FFDD00;
    font-weight: 700;
    color:black;
    padding: 12px ;
    text-decoration: none;
    border: none;
    cursor: pointer;
}








